$background: #1d3959;
$focused-background: #7aa2f7;
$text: #ffffff;
$radius: 5;

* {
  font-family: "Jetbrains Mono";
}

.main {
  background-color: transparent;
  padding: 10px 10px 0 10px;
}

.alt {
  background-color: transparent;
  padding: 10px 10px 0 10px;
}

.main-bar {
  background-color: transparent;
}

.left-bar {
  background-color: transparent;
  border-radius: $radius;
}

.center-bar {
  background-color: $background;
  border-radius: $radius;
  color: $text;
}

.right-bar {
  background-color: $background;
  border-radius: $radius;
  color: $text;
}

.music {
  padding: 0 0 0 10px;
}

.time {
  padding: 0 10px 0 10px;
}

.systray {
  padding: 0 10px 0 0;
}

.workspaces button {
  border-radius: $radius;
}

.workspaces button:hover {
  background-color: $focused-background;
  color: $background;
}

.focused {
  background-color: $focused-background;
  color: $background;
  border-radius: $radius;
}

.unfocused {
  background-color: $background;
  color: $text;
  border-radius: $radius;
}
